*{
	padding: 0;
	margin: 0;
}

body {
	font-family: "Poppins", sans-serif;
}

header {
	background: #BFB5B4;
}

header img {
	width: 17%;
	padding: 10px;
}

.box {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 80px;
	right: 0;
}

nav li {
	display: inline;
	margin-right: 17px;
}

nav a {
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
}

nav a:hover {
	color: #99330E;
	text-decoration: underline;
}

nav a:active {
	color: green;
}

.banner {
	width: 100%;
	height: 450px;
}

.titulos {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	color: rgba(0, 0, 0, 0.7);
}

.sobre p {
	margin: 0 0 1em;
}

.sobre {
	padding: 3em 0;
	width: 940px;
	margin: 0 auto;
	text-align: center;
	background: #FEFEFE;
}

.missao {
	font-size: 22px;
}

.beneficios {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #BFB5B4);
}

.conteudo-beneficios {
	width: 940px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	font-size: 20px;
	font-weight: bold;
}

.beneficios-img {
	width: 40%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px #000000;
}

.beneficios-img:hover {
	opacity: 0.5;
}

.video {
	width: 940px;
	margin: 2em auto;
}

.mapa {
	padding: 3em 0;
	background: #BFB5B4;
}

.conteudo-mapa {
	width: 940px;
	margin: 0 auto;
}

.servicos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.servicos li {
	display: inline-block;
	text-align: center;
	margin: 10px 10px;
	width: 30%;
	vertical-align: top;
	padding-bottom: 30px;
	box-sizing: border-box;
	border: 5px solid #BFB5B4;
	border-radius: 10px;
	margin-bottom: 10px;
}

.servicos li:hover {
	border-color: #99330E;
}

.servicos li:active {
	border-color: blue;
}

.servicos li:hover h2 {
	color: #99330E;
	font-size: 32px;
}

.servicos li:hover p {
	color: #99330E;
}

.servicos li img {
	width: 100%;
}

form {
	width: 600px;
	margin: 30px auto;
}

form h2 {
	text-align: center;
	font-size: 1.8em;
	color: #8C2F0D;
}

form label, form legend {
	display: block;
	margin: 0 0 10px;
	font-size: 20px;
}

fieldset {
	border: 0 none;
}

table {
	width: 400px;
	margin: 30px auto;
	border-collapse: collapse;
}

thead {
	background: #8C2F0D;
	color: white;
}

td, th {
	border: 1px solid black;
	padding: 8px 15px;
	font-size: 18px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 100%;
	border-color: #8C2F0D;
	box-sizing: border-box;
}

.botao {
	background:#8C2F0D;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border: none;
	border-radius: 5px;
}

.botao:hover {
	background: #BFB5B4;
	transition: 1s background;
	cursor: pointer;
}

.redes-sociais {
	background-color: #99330E;
	padding: 20px;
}

.redes-sociais i{
	padding: 10px;
	font-size: 1.5em;
	color: white;
}

.redes-sociais i:hover {
	background: white;
	color: #BFB5B4;
	transition: 1s background;
	cursor: pointer;
}

footer img {
	width: 10%;
	padding-top: 20px;
}

footer {
	text-align: center;
	background-color: #8C2F0D;
}

footer p {
	font-weight: bold;
	font-size: 15px;
	color: white;
	padding-bottom: 20px;
}

@media screen and (max-width: 480px) {
	.box, .sobre, .conteudo-mapa, .conteudo-beneficios, .video, .servicos, form, table {
		width: auto;
	}

	nav {
		position: static;
	}

	h1 {
		text-align: center;
	}

	.lista-beneficios, .beneficios-img, .servicos li {
		width: 100%;
	}
}
